/* Defaults
  --callout-default:   var(--color-blue-rgb);
  --callout-note:      var(--color-blue-rgb);
  --callout-error:     var(--color-red-rgb);
  --callout-example:   var(--color-purple-rgb);
  --callout-fail:      var(--color-red-rgb);
  --callout-failure:   var(--color-red-rgb);
  --callout-missing:   var(--color-red-rgb);
  --callout-important: var(--color-cyan-rgb);
  --callout-abstract:  var(--color-cyan-rgb);
  --callout-hint:      var(--color-cyan-rgb);
  --callout-info:      var(--color-blue-rgb);
  --callout-question:  var(--color-orange-rgb);
  --callout-faq:       var(--color-orange-rgb);
  --callout-help:      var(--color-orange-rgb);
  --callout-success:   var(--color-green-rgb);
  --callout-check:     var(--color-green-rgb);
  --callout-done:      var(--color-green-rgb);
  --callout-summary:   var(--color-cyan-rgb);
  --callout-tip:       var(--color-cyan-rgb);
  --callout-todo:      var(--color-blue-rgb);
  --callout-warning:   var(--color-orange-rgb);
  --callout-caution:   var(--color-orange-rgb);
  --callout-bug:       var(--color-red-rgb);
  --callout-danger:    var(--color-red-rgb);
  --callout-attention: var(--color-orange-rgb);
  --callout-quote:     158, 158, 158;
  --callout-cite:      158, 158, 158;

  --callout-border-opacity: 0.25
  --callout-border-width: 0px;
  --callout-radius: 4px
  --callout-padding: 12px 12px 12px 24px
  --callout-blend-mode: lighten

  .callout {
    background-color: rgba(var(--callout-color), 0.1)
  }
*/

body.minimal-theme .callout {
  --callout-border-width: 1px;
  --callout-border-opacity: 0.5;
  --callout-padding: 0;
}

body.minimal-theme .callout {
  box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow);
  margin-bottom: 1em !important;
}

body.minimal-theme .callout:not(.is-collapsed) .callout-title {
  border-bottom: var(--callout-border-width) solid rgba(var(--callout-color), var(--callout-border-opacity));
}

body.minimal-theme .callout .callout-title {
  background-color: rgba(var(--callout-color), 0.25);
  padding: 0.6rem;
  line-height: 1.6;
}

body.minimal-theme .callout.is-collapsible .callout-title:hover {
  cursor: pointer;
}

body.minimal-theme .callout .callout-content {
  padding: 0.6rem;
}

body.minimal-theme .callout-content > *:last-child {
  margin-bottom: 0;
}

body.minimal-theme .callout-content > *:first-child {
  margin-top: 0;
}

body.minimal-theme .callout h1,
body.minimal-theme .callout h2,
body.minimal-theme .callout h3,
body.minimal-theme .callout h4,
body.minimal-theme .callout h5,
body.minimal-theme .callout h6,
body.minimal-theme .callout .callout-title-inner {
  color: rgb(var(--callout-color));
}

body.minimal-theme .is-live-preview .cm-embed-block>.edit-block-button {
  padding: 4px!important;
  right: 0.6rem;
  top: 0.6rem;
  background-color: rgba(var(--callout-color), 0.25);
}

body.minimal-theme .cm-callout .edit-block-button svg {
  position: relative;
  right: 1px;
}

body.minimal-theme .cm-callout:hover .edit-block-button {
  color: rgb(var(--callout-color));
}

body.minimal-theme .cm-callout:hover .edit-block-button:hover {
  background-color: rgba(var(--callout-color), 0.01);
  color: rgb(var(--callout-color));
}
